@use "variables" as *;

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: $kata-spacing-unit * 2;
  background: $kata-primary-color;
  color: #fff;
  z-index: 999;
  max-height: 70px;
  &__brand {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
  }
  nav {
    display: flex;
    gap: $kata-spacing-unit;
  }
}
